@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
_________________________________DESIGN SYSTEM_____________________________
--------------------------------------------------------------------------- */
:root {
  /* Aliases */
  /* _____________FARVER________________*/

  --green-700: #72aa9a;
  --green-500: #b0ddd1;
  --green-100: #e6f6f2;
  --creme-200: #fbf7f1;
  --creme-100: #fffdf9;
  --pink-100: #fff2f8;
  --pink-200: #f9d2e3;
  --pink-400: #f5a4c6;
  --pink-700: #f291ba;
  --taupe-800: #363636;

  /* _____________KNAPPER________________*/

  --green-700: #72aa9a;
  --green-500: #b0ddd1;
  --green-100: #e6f6f2;
  --creme-200: #fbf7f1;
  --creme-100: #fffdf9;
  --pink-100: #fff2f8;
  --pink-200: #f9d2e3;
  --pink-400: #f5a4c6;
  --pink-700: #f291ba;
  --taupe-800: #363636;

  /* _____________SPACING________________*/

  --spacing-xs: 0.625rem; /*(10px)*/
  --spacing-s: 0.9375rem; /*(15px)*/
  --spacing-m: 1.25rem; /*(20px)*/
  --spacing-l: 1.875rem; /*(30px)*/
  --spacing-xl: 2.5rem; /*(40px)*/
  --spacing-xxl: 5rem; /*(80px)*/
  --spacing-afsnit: 3.125rem; /*(50px)*/
  --spacing-heading: 2.125rem; /*(34px)*/

  /* _______________________WEB_____________________________
-------------------------------------------------------------- */

  /* _____________TEKST_______________*/

  /* Font scale heading */
  --display-web: 4.375rem;
  --underoverskrift-1-web: 2rem;
  --underoverskrift-2-web: 1.5rem;
  --grafisk-display: 2rem;

  /* Font scale body text */
  --leading-web: 1.125;
  --p-web: 1rem;
  --lille-p-web: 0.875;
  --italic-p-web: 0.875;

  /* ________________________MOBIL__________________________
------------------------------------------------------------- */

  /* _____________TEKST_______________*/

  /* Font scale heading */
  --display-mobil: 2.25rem;
  --underoverskrift-1-mobil: 1.25rem;
  --underoverskrift-2-mobil: 1.1rem;
  --grafisk-display: 1.75rem;

  /* Font scale body text */
  --leading-mobil: 1rem;
  --p-mobil: 0.875rem;
  --lille-p-mobil: 0.75;
  --italic-p-mobil: 0.75;

  /* Aliases */
}

body {
  line-height: 150%;
  background-color: var(--creme-100);
}

/* ---------------------------MOBIL!!!--------------- */

@media only screen and (max-width: 700px) {
  h1,
  .heading-h1 {
    font-family: "Lobster", cursive;
    font-size: var(--display-mobil);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-m);
  }

  h2,
  .heading-h2 {
    font-family: "Inter", sans-serif;
    font-size: var(--underoverskrift-1-mobil);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-m);
  }

  h3,
  .heading-h3 {
    font-family: "Inter", sans-serif;
    font-size: var(--underoverskrift-2-mobil);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-m);
  }

  .text-lead {
    font-family: "Inter", sans-serif;
    font-size: var(--leading-mobil);
    font-weight: 600;
    color: var(--taupe-800);
    margin-top: var(--spacing-m);
  }
  .grafisk-display {
    font-family: "Lobster", cursive;
    font-size: var(--grafisk-display);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-m);
  }

  p {
    font-family: "Inter", sans-serif;
    font-size: var(--p-mobil);
    font-weight: 400;
  }

  .text-small {
    font-family: "Inter", sans-serif;
    font-size: var(--lille-p-mobil);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-m);
  }
  .text-italic {
    font-family: "Inter", sans-serif;
    font-size: var(--italic-p-mobil);
    font-style: italic;
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-m);
  }

  .links {
    font-family: "Inter", sans-serif;
    font-size: var(--p-mobil);
    font-weight: 400;
    color: var(--pink-700);
    text-decoration: underline;
  }
  .linksblack {
    font-family: "Inter", sans-serif;
    font-size: var(--lille-p-mobil);
    font-weight: 400;
    color: var(--taupe-800);
    text-decoration: underline;
  }

  /*----------- FOOTER  --------  */

  .footerbaggrund {
    background-image: url(statiske-elementer/footer-mobil.svg);
    aspect-ratio: 1615/3492;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .footerbaggrund_ipad {
    background-image: url(statiske-elementer/footer-mobil.svg);
    aspect-ratio: 1615/3492;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  /*----------- MENU  --------  */

  .logo {
    background-image: url(statiske-elementer/logo-mobil.svg);
    aspect-ratio: 130/260;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  /*----------- Spacing på main  --------  */
  .main_spacing {
    margin-left: 10px;
    margin-right: 10px;
  }

  .element_spacing {
    margin-top: var(--spacing-xl);
  }

  .lille_spacing {
    padding-top: var(--spacing-s);
  }
  /*----------- FORSIDE  --------  */
  /* __________________________________ */
  .spacing_til_h1 {
    margin-top: var(--spacing-xxl);
  }

  .forsidebaggrund {
    background-image: url(statiske-elementer/forside-bg.svg);
    aspect-ratio: 370/370;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: var(--spacing-m);
  }
  .iskugle_baggrund {
    background-image: url(statiske-elementer/choko_is_bg.svg);
    aspect-ratio: 370/370;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: var(--spacing-xl);
  }

  /* --------- BURGER-MENU ---------- */
  .navbar {
    overflow: hidden;
    background-color: var(--creme-200);
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .navbar #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .navbar a {
    color: var(--taupe-800);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: grid;
  }

  /* Style the hamburger menu */
  .navbar a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: var(--taupe-800);
  }

  /* Add a grey background color on mouse-over */
  .navbar a:hover {
    background-color: var(--creme-100);
    color: var(--taupe-800);
  }
}

/* ------------------------ WEB!!!! -------------------- */

@media only screen and (min-width: 700px) {
  h1,
  .heading-h1 {
    font-family: "Lobster", cursive;
    font-size: var(--display-web);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-xxl);
  }

  h2,
  .heading-h2 {
    font-family: "Inter", sans-serif;
    font-size: var(--underoverskrift-1-web);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-xl);
  }

  h3,
  .heading-h3 {
    font-family: "Inter", sans-serif;
    font-size: var(--underoverskrift-2-web);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-20);
  }

  .text-lead {
    font-family: "Inter", sans-serif;
    font-size: var(--leading-web);
    font-weight: 600;
    color: var(--taupe-800);
    margin-top: var(--spacing-20);
  }

  .grafisk-display {
    font-family: "Lobster", cursive;
    font-size: var(--display-mobil);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-m);
  }

  p {
    font-family: "Inter", sans-serif;
    font-size: var(--p-web);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-20);
  }

  .text-small {
    font-family: "Inter", sans-serif;
    font-size: var(--lille-p-web);
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-20);
  }
  .text-italic {
    font-family: "Inter", sans-serif;
    font-size: var(--italic-p-web);
    font-style: italic;
    font-weight: 400;
    color: var(--taupe-800);
    margin-top: var(--spacing-20);
  }

  .links {
    font-family: "Inter", sans-serif;
    font-size: var(--p-web);
    font-weight: 400;
    color: var(--pink-700);
    text-decoration: underline;
  }
  .linksblack {
    font-family: "Inter", sans-serif;
    font-size: var(--lille-p-web);
    font-weight: 400;
    color: var(--taupe-800);
    text-decoration: underline;
  }

  /*----------- FOOTER  --------  */

  .footerbaggrund {
    background-image: url(statiske-elementer/footer-web1.svg);
    aspect-ratio: 1366/658;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  /*----------- MENU  --------  */
  .logo {
    background-image: url(statiske-elementer/logo-web.svg);
    aspect-ratio: 1070/450;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0;
  }

  /*----------- Spacing af main  --------  */
  .main_spacing {
    margin-left: 236px;
    margin-right: 236px;
  }

  .element_spacing {
    margin-top: var(--spacing-xxl);
  }

  .lille_spacing {
    padding-top: var(--spacing-m);
  }

  /*----------- FORSIDE  --------  */
  /* __________________________________ */
  .spacing_til_h1 {
    margin-top: var(--spacing-xxl);
  }

  .forsidebaggrund {
    background-image: url(menu/forsidebaggrund-web.svg);
    position: relative;
    background-size: 100%;
    aspect-ratio: 870/390;
    background-repeat: no-repeat;
    margin-top: var(--spacing-m);
  }
  .iskugle_baggrund {
    background-image: url(statiske-elementer/choko_is_bg.svg);
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: var(--spacing-xl);
  }
  .navbar {
    background-image: url(menu/bg_hovedmenu.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0;
  }
  /* Style the hamburger menu */
  .navbar a.icon {
    display: none;
  }
}

article {
  max-width: 65ch;
  margin: 5rem auto;
}

/* AUTO MIN MAX */

.autominmax {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* ----------  SLIDESHOW  --------- */

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*----------------------------- MENU ---------------- */

.navbar {
  overflow: hidden;
  /* background-color: var(--taupe-800); */
}

.navbar a {
  color: var(--creme-100);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--creme-100);
  padding: 14px 16px;
  background-color: inherit;
  font-family: "inter", sans-serif;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--green-500);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--creme-200);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--taupe-800);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--creme-100);
}

.dropdown:hover .dropdown-content {
  display: block;
}
